/* PART 2: SQLite
/* We now want you to jump over to a local instance of the database on your machine. 

Copy and paste the LocalSQLConnection.py script into an empty Jupyter notebook, and run it. 

Make sure that the SQLFiles folder containing thes files is in your working directory, and
that you haven't changed the name of the .db file from 'sqlite\db\pythonsqlite'.

You should see the output from the initial query 'SELECT * FROM FACILITIES'.

Complete the remaining tasks in the Jupyter interface. If you struggle, feel free to go back
to the PHPMyAdmin interface as and when you need to. 

You'll need to paste your query into value of the 'query1' variable and run the code block again to get an output.

In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
            SELECT
              *
            FROM
              FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

def select_query_10(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    Q10: Produce a list of facilities with a total revenue less than 1000.
    The output of facility name and total revenue, sorted by revenue. Remember
    that there's a different cost for guests and members!
    """
    cur = conn.cursor()

    query1 = """
   SELECT 
     F.name
    ,SUM(CASE WHEN M.memid = 0 THEN F.guestcost ELSE F.membercost END * B.slots ) AS revenue
    FROM Bookings B
    INNER JOIN Facilities F ON B.facid = F.facid
    LEFT JOIN Members M ON B.memid = M.memid
    GROUP BY 
    F.name
    HAVING(revenue) < 1000
    ORDER BY 
    revenue        

        """
    cur.execute(query1)

    rows = cur.fetchall()

    for row in rows:
        print(row)
def select_query_11(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
    """
    cur = conn.cursor()

    query1 = """
SELECT
  a.firstname AS memfname, a.surname AS memsname,
  b.firstname AS recfname, b.surname AS recsname
FROM
  Members AS a
LEFT JOIN
  Members AS b
ON
  a.recommendedby = b.memid
ORDER BY
  memsname, memfname;
        """
    cur.execute(query1)

    rows = cur.fetchall()

    for row in rows:
        print(row)        
def select_query_12(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    /* Q12: Find the facilities with their usage by member, but not guests */
    """
    cur = conn.cursor()

    query1 = """
            SELECT
              b.facid, f.name, sum(b.slots) as "usage"
            FROM
              BOOKINGS as b INNER JOIN FACILITIES as f
            WHERE b.memid > 0
            GROUP BY
              b.memid
            ORDER BY
              b.memid
        """
    cur.execute(query1)

    rows = cur.fetchall()

    for row in rows:
        print(row)
def select_query_13(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    /* Q13: Find the facilities usage by month, but not guests */
    """
    cur = conn.cursor()

    query1 = """
SELECT 
    F.name
    ,strftime('%Y-%m', B.starttime) as month
    ,SUM(B.slots) AS usage
    FROM Bookings B
    INNER JOIN Facilities F ON B.facid = F.facid
    INNER JOIN Members M ON B.memid = M.memid
    WHERE M.memid > 0
    GROUP BY
    F.name
    ,month
    ORDER BY
    usage DESC
        """
    cur.execute(query1)

    rows = cur.fetchall()

    for row in rows:
        print(row)

def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("*************************************************************")
        print("1. Query all tasks")
        select_all_tasks(conn)
        print("*************************************************************")
        print("2. Do Query 10")
        select_query_10(conn)
        print("*************************************************************")
        print("3. Do Query 11")
        select_query_11(conn)
        print("*************************************************************")
        print("4. Do Query 12")
        select_query_12(conn)
        print("*************************************************************")
        print("5. Do Query 13")
        select_query_13(conn)
        print("*************************************************************")
  
  
if __name__ == '__main__':
    main()

2.6.0
*************************************************************
1. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)
*************************************************************
2. Do Query 10
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)
*************************************************************
3. Do Query 11
('Florence', 'Bader', 'Ponder', 'Stibbons')
('Anne', 'Baker', 'Ponder', 'Stibbons')
('Timothy', 'Baker', 'Jemima', 'Farrell')
('Tim', 'Boothe', 'Tim', 'Rownam')
('Gerald', 'Butters', 'Darren', 'Smith')
('Joan', 'Coplin', 'Timothy', 'Baker')
('Erica', 'Crumpet', 'Tracy', 'Smith')
('Nancy', 'Dare', 'Janice', 'Joplette')
('David', 'Farrell', None, None)
('Jemima', 'Farrell', None, None)
('GUEST', 'GUEST', None, None)
('Matthew', 'Genting', 'Gerald', 'Butters')
('John', 'Hunt', 'Millicent', 'Purview')
('David', 'Jones', 'Janice', 'Joplette')
('Douglas', 'Jones', 'David', 'Jones')
('Janice', 'Joplette', 'Darren', 'Smith')
('Anna', 'Mackenzie', 'Darren', 'Smith')
('Charles', 'Owen', 'Darren', 'Smith')
('David', 'Pinker', 'Jemima', 'Farrell')
('Millicent', 'Purview', 'Tracy', 'Smith')
('Tim', 'Rownam', None, None)
('Henrietta', 'Rumney', 'Matthew', 'Genting')
('Ramnaresh', 'Sarwin', 'Florence', 'Bader')
('Darren', 'Smith', None, None)
('Darren', 'Smith', None, None)
('Jack', 'Smith', 'Darren', 'Smith')
('Tracy', 'Smith', None, None)
('Ponder', 'Stibbons', 'Burton', 'Tracy')
('Burton', 'Tracy', None, None)
('Hyacinth', 'Tupperware', None, None)
('Henry', 'Worthington-Smyth', 'Tracy', 'Smith')
*************************************************************
4. Do Query 12
(3, 'Tennis Court 1', 6165)
(0, 'Tennis Court 1', 3915)
(4, 'Tennis Court 1', 5940)
(4, 'Tennis Court 1', 2934)
(0, 'Tennis Court 1', 3681)
(1, 'Tennis Court 1', 3294)
(2, 'Tennis Court 1', 2403)
(1, 'Tennis Court 1', 3960)
(1, 'Tennis Court 1', 2241)
(0, 'Tennis Court 1', 3105)
(1, 'Tennis Court 1', 2745)
(0, 'Tennis Court 1', 2664)
(3, 'Tennis Court 1', 1620)
(4, 'Tennis Court 1', 1971)
(2, 'Tennis Court 1', 2133)
(1, 'Tennis Court 1', 2610)
(7, 'Tennis Court 1', 1431)
(5, 'Tennis Court 1', 1179)
(2, 'Tennis Court 1', 2079)
(7, 'Tennis Court 1', 954)
(1, 'Tennis Court 1', 1377)
(2, 'Tennis Court 1', 333)
(7, 'Tennis Court 1', 342)
(0, 'Tennis Court 1', 450)
(2, 'Tennis Court 1', 540)
(2, 'Tennis Court 1', 288)
(7, 'Tennis Court 1', 252)
(0, 'Tennis Court 1', 360)
(2, 'Tennis Court 1', 153)
*************************************************************
5. Do Query 13
('Badminton Court', '2012-09', 507)
('Pool Table', '2012-09', 443)
('Tennis Court 1', '2012-09', 417)
('Badminton Court', '2012-08', 414)
('Tennis Court 2', '2012-09', 414)
('Snooker Table', '2012-09', 404)
('Massage Room 1', '2012-09', 402)
('Table Tennis', '2012-09', 400)
('Tennis Court 2', '2012-08', 345)
('Tennis Court 1', '2012-08', 339)
('Massage Room 1', '2012-08', 316)
('Snooker Table', '2012-08', 316)
('Pool Table', '2012-08', 303)
('Table Tennis', '2012-08', 296)
('Tennis Court 1', '2012-07', 201)
('Squash Court', '2012-08', 184)
('Squash Court', '2012-09', 184)
('Massage Room 1', '2012-07', 166)
('Badminton Court', '2012-07', 165)
('Snooker Table', '2012-07', 140)
('Tennis Court 2', '2012-07', 123)
('Pool Table', '2012-07', 110)
('Table Tennis', '2012-07', 98)
('Squash Court', '2012-07', 50)
('Massage Room 2', '2012-09', 28)
('Massage Room 2', '2012-08', 18)
('Massage Room 2', '2012-07', 8)
*************************************************************